<div class="container p-2 mt-2">
    <div class="row">
        <div class="col-md-3 mx-left">
            <div class="card crd-prf">
                <div class="card-header text-center">
                    <h3>Bienvenido/a usuario</h3>
                    <h5>{{user.nombre}} {{user.apellido}}</h5>
                </div>
                <div class="card-body  text-center">
                    <h5>Búsqueda</h5>
                    <hr style="background-color: white;">
                    <form class="form-registro"  action="/usuarios/search" method="POST">
                        <div class="frm-group">
                            <p class="form-p text-center">Ingresa el nombre del empleo que estes buscando:</p>
                            <input type="text"  id="fnBsq" name="empleo" placeholder="Búsqueda" maxlength="10" style="color: black;" required >  
                        </div>
                        
                        <hr style="background-color: white;">
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark">Buscar</button>
                        </div>  
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-9 mx-auto">
            {{!Inicio Agregados Recientemente}}
            <div class="card crd-prf pb-2">
                <div class="card-header">
                    <h3>Agregados recientemente</h3>
                </div>
            {{#if empleos}}
            {{#each empleos}}
            <div class=" btn-aEmp">
            {{!empleos lista}}
                <a name="{{id_empleo}}"  style="text-decoration: none;" href="/empleo/infoJob/{{id_empleos}}">
                    <div class="card crd-prf mb-1 mt-1">
                        <div class="card-header">
                            <h4 class="text-left">
                                {{nombre_empleo}}
                            </h4>
                        </div>
                        <div class="card-body p-1">
                            <table class="table table-hover table-striped tbl-info table-dark"> 
                                <tr>
                                    <td><b>NOMBRE DE LA EMPRESA</b></td>
                                    <td class="text-left">{{this.nombre}} {{this.apellido}}</td>
                                </tr>
                                <tr>
                                    <td><b>SUELDO</b></td>
                                    <td class="text-left">{{sueldo}}</td>
                                </tr>
                                <tr>
                                    <td><b>AREA DE TRABAJO</b></td>
                                    <td class="text-left">{{nombre_area}}</td>
                                </tr>
                                <tr>
                                    <td><b>FECHA DE VENCIMIENTO</b></td>
                                    <td class="text-left">{{timeAct fecha_vencimiento}}</td>
                                </tr>
                                
                            </table>
                        </div>
                        <div class="card-footer text-center">
                            Añadido {{timeago fecha_registro}}
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
            <a class="btn btn-dark btn-block mt-2">Ver Todos</a>
            {{else}}
                <div class="card crd-prf text-center">
                    <div class="card-body">
                        <h2>Aún no han publicado ningún empleo</h2>
                        <hr style="background-color: white;">
                        <h4>Publica el tuyo ahora!</h4>
                        <a class="btn btn-dark" href="/empleo/add">Publicar</a>
                    </div>
                </div>
            {{/if}}
            </div>
            {{!Fin Agregados Recientemente}}

            <div class="card crd-prf">
                <div class="card-header">
                    <h3>Empleos de empresas mejor valoradas</h3>
                </div>
            </div>
            {{#if empleo}}
            {{else}}
                <div class="card crd-prf text-center">
                    <div class="card-body">
                        <h2>Aún no han publicado ningún empleo</h2>
                        <hr style="background-color: white;">
                        <h4>Publica el tuyo ahora!</h4>
                        <a class="btn btn-dark" href="/empleo/add">Publicar</a>
                    </div>
                </div>
            {{/if}}
            
         </div>
    </div>
</div>

