<div class="container p-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card crd-prf">
                <div class="card-header">
                    <h3>Solicitudes Enviadas</h3>
                </div>
                {{#each data}}
                <div class=" btn-aEmp">
                {{!empleos lista}}
                    <a name="{{id_empleo}}"  style="text-decoration: none;" href="/empleo/infoJob/{{id_empleos}}">
                        <div class="card mt-1 mb-1 crd-prf">
                            <div class="card-header">
                                <h5>{{nombre_empleo}}</h5>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-dark table-hover table-striped tbl-info ">
                                <tr>
                                    <td>Nombre de la empresa</td>
                                    <td>{{nombre}} {{apellido}}</td>
                                </tr>
                                <tr>
                                    <td>Nombre del trabajo</td>
                                    <td>{{nombre_empleo}}</td>
                                </tr>
                                <tr>
                                    <td>Sueldo</td>
                                    <td>{{sueldo}}</td>
                                </tr>
                            </table>
                            </div>
                            <div class="card-fotter text-center">
                                <h5>Fecha de Vencimiento {{timeAct fecha_vencimiento}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
                {{#unless data}}
                <div class="card crd-prf">
                    <div class="card-body text-center">
                        <h3>No has enviado ninguna solicitud</h3>
                        <hr style="background-color:white ;">
                        <a href="/inicio" class="btn btn-dark"><i class="fa fa-home"></i> Volver al inicio</a>
                    </div>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>