<div class="container p-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {{#each empleos}}
            {{!empleos lista}}
            <div class="card crd-prf mb-1">
                <div class="card-header">
                    <h3 class="text-left">
                        {{nombre_empleo}}
                    </h3>
                </div>
                <div class="card-body p-2">
                    <table class="table table-hover table-striped tbl-info table-dark"> 
                        <tr>
                            <td><b>AREA DE TRABAJO</b></td>
                            <td class="text-left">{{nombre_area}}</td>
                        </tr>
                        <tr>
                            <td><b>SUELDO</b></td>
                            <td class="text-left">{{sueldo}}</td>
                        </tr>
                        <tr>
                            <td><b>FECHA DE VENCIMIENTO</b></td>
                            <td class="text-left">{{timeAct fecha_vencimiento}}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-fotter text-center p-2">
                    <a href="/empleo/showSolEmpresa/{{id_empleos}}" class="btn btn-dark"><i class="fa fa-search"></i> Ver información detallada</a>
                    <a href="/empleo/showAllSol/{{id_empleos}}" class="btn btn-secondary"><i class="fa fa-list"></i> Ver Todas las Solicitudes</a>
                </div>
            </div>
            {{/each}}
            {{#unless empleos}}
                <div class="card crd-prf">
                    <div class="card-body text-center">
                        <h3>Usted no ha recibido ninguna solicitud</h3>
                        <hr style="background-color:white ;">
                        <a href="/inicio" class="btn btn-dark"><i class="fa fa-home"></i> Volver al inicio</a>
                    </div>
                </div>
            {{/unless}}
        </div>
    </div>
</div>